// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(119, 209, 231);
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        width: 50%;
        height: 100%;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        h5, p {
            margin: 0;
            padding: 0;
        }

        h5 {
            margin-left: 30px;
            margin-right: 5px;
            font-size: 20px;
        }

        p {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .rutas-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        a {
            cursor: pointer;
            text-decoration: none;
            color: black;
            font-size: 15px;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;

            height: 60%;
            width: 100px;
            margin: 10px;

            transition: ease-out 0.3s;

            p {
                margin: 0;
                padding: 0;
            }

            &:hover {
                background-color: rgb(72, 183, 211);
                box-shadow: 3px 3px 0;
                transform: translateX(-3px) translateY(-3px);
            }

        }
    }
}

main {
    background-color: white;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 20px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .inicio-container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
            height: 100%;
        }

        .img-container {
            width: 20%;
            display: flex;
            justify-content: center;
            overflow: hidden;

            img {
                height: 100%;
            }
        }

        .text-container {
            width: 60%;
        }

    }

    .container-products {
        width: 1000px;
        height: 700px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
        }

        .product {

            cursor: pointer;
            width: 300px;
            height: 200px;
            margin: 10px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border: 3px solid rgb(241, 110, 110);
            border-radius: 20px;

            transition: ease-out 0.3s;

            &:hover {
                box-shadow: 6px 6px 0;
                transform: translateX(-6px) translateY(-6px);
            }

            .image-product {
                width: 150px;
                height: 150px;
            }

            h2 {
                background-color: rgb(72, 183, 211);
                text-align: center;
                border-radius: 50px;
                margin-top: -50px;
                margin-left: 30px;
                width: 60px;
            }

            p {
                font-size: 20px;
            }
        }
    }

    .container-unique-product {
        width: 1000px;
        height: 700px;
        border: 3px solid rgb(241, 110, 110);
        border-radius: 20px;

        display: flex;
        flex-direction: row;

        .product-info{
            width: 50%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            p {
                width: 90%;
                font-size: 18px;
                margin-bottom: 55px;
                text-align: justify;

            }

            .formulario-compra {
                
                p {
                    text-align: center;
                    font-size: 25px;
                    margin: 10px;
                }

                .cantidad-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                form {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }

                input[type="number"] {
                    width: 65px;
                    height: 40px;
                    padding: 5px;
                    font-size: 25px;
                }

                input:first-child {
                    margin-top: 10px;
                }

                input[type="submit"] {
                    width: 140px;
                    height: 40px;
                    margin-left: 10px;
                    font-size: 15px;
                    border: none;
                    border-radius: 25px;
                    background-color: rgb(241, 110, 110);
                    transition: ease-out 0.3s;

                    &:hover {
                        color: white;
                        background-color: rgb(194, 65, 65);
                        box-shadow: 3px 3px 0 black;
                        transform: translateX(-3px) translateY(-3px);
                    }

                }
            }
        }

        .image-container {
            width: 50%;
            height: 100%;;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 500px;
                height: 500px;
                padding-right: 2px;
            }
        }
    }

    .form-container {
        width: 1000px;
        height: 700px;
        border: 3px solid rgb(241, 110, 110);
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        form {
            width: 60%;

            label {
                margin-bottom: 10px;
                font-size: 20px;
            }
            
            input {
                margin-bottom: 10px;
            }

            .log-button {
                background-color: rgb(241, 110, 110);
                width: 100px;
                height: 40px;
                font-size: 15px;
                color: white;
                border: none;
                border-radius: 20px;
                transition: ease-out 0.3s;

                &:hover {
                    background-color: rgb(194, 65, 65);
                    box-shadow: 3px 3px 0 black;
                    transform: translateX(-3px) translateY(-3px);
                }
            }
        }

        .error-mensaje {
            height: 1px;
            color: red;
            padding: 10px;
            font-size: 20px;
        }
    }
}

footer {
    background-color: rgb(119, 209, 231);
    width: 100%;
    height: 55px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
        padding: 0;
    }
}