// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(119, 209, 231);
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        width: 50%;
        height: 100%;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        h5, p {
            margin: 0;
            padding: 0;
        }

        h5 {
            margin-left: 30px;
            margin-right: 5px;
            font-size: 20px;
        }

        p {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .rutas-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        a {
            cursor: pointer;
            text-decoration: none;
            color: black;
            font-size: 15px;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;

            height: 60%;
            width: 100px;
            margin: 10px;

            transition: ease-out 0.3s;

            p {
                margin: 0;
                padding: 0;
            }

            img {
                width: 20px;
                height: 20px;
            }

            .carrito-button {
                width: 60px;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                .cant-prod {
                    display: flex;
                    justify-content: center;
                    background-color: red;
                    border-radius: 20px;
                    color: white;
                    width: 20px;
                    height: 20px;
                }
            }

            &:hover {
                background-color: rgb(72, 183, 211);
                box-shadow: 3px 3px 0;
                transform: translateX(-3px) translateY(-3px);
            }

        }
    }
}

main {
    background-color: white;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 20px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .inicio-container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
            height: 100%;
        }

        .img-container {
            width: 20%;
            display: flex;
            justify-content: center;
            overflow: hidden;

            img {
                height: 100%;
            }
        }

        .text-container {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .logo-container-init {
                height: fit-content;
                display: flex;
                flex-direction: row;
                margin: 20px;

                p, h1 {
                    margin: 0;
                    width: fit-content;
                    height: fit-content;
                }

                p {
                    font-size: 37px;
                    margin-right: 12px;
                }

                h1 {
                    font-weight: bold;
                    padding-top: 9px;
                }
            }

            p {
                width: 80%;
                text-align: justify;
                font-size: 15px;
            }

            .textos-cont {
                width: 850px;
                height: 520px;
                margin-top: 40px;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                div {
                    cursor: pointer;
                    background-color: white;
                    width: 48%;
                    height: 48%;
                    margin: 5px;
                    border-radius: 30px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    p {
                        margin-top: 5px;
                        font-size: 13px;
                    }

                    transition: ease-out 0.3s;
                    
                    &:hover {
                        background-color: rgb(119, 209, 231);
                        box-shadow: 3px 3px 0;
                        transform: translateX(-3px) translateY(-3px);
                    }
                }
            }
        }

    }

    .user-admin-cnt {
        width: 1400px;
        height: 670px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .form-crear-usuarios {
            display: flex;
            flex-direction: column;
            align-items: center;

            .textdanger {
                border: none;
                font-size: 15px;
                width: 100%;
                color: red
            }

            h2 {
                width: fit-content;
                height: fit-content;
                margin: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 60%;

                label {
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                select, input {
                    font-size: 15px;
                    margin-bottom: 7px;
                    height: 30px;
                }

                .button {
                    background-color: rgb(186, 238, 109);
                    width: 150px;
                    height: 40px;
                    margin-top: 20px;
                    border-radius: 20px;
                    border: none;
                    transition: ease-out 0.3s;
                    
                    &:hover {
                        color: white;
                        background-color: rgb(72, 112, 13);
                        box-shadow: 3px 3px 0 black;
                        transform: translateX(-3px) translateY(-3px);
                    }
                }

                .align-button-box {
                    border: none;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        div {
            width: 48%;
            height: 100%;
            border: 3px solid rgb(241, 110, 110);
            border-radius: 20px;
        }

        .listado-users-gestion {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        table {
            width: 80%;
            margin-top: 20px;

            .title-table {
                font-weight: bold;
                text-align: center;
                font-size: 20px;
            }

            td {
                height: 40px;
            }

            .correo {width: 100px;}

            .rol-box {
                text-align: center;
            }

            .editar {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    background-color: rgb(119, 209, 231);
                    border-radius: 20px;
                    border: none;
                    width: 60px;
                    height: 35px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: ease-out 0.3s;
                    
                    &:hover {
                        background-color: rgb(72, 176, 202);
                        box-shadow: 3px 3px 0;
                        transform: translateX(-3px) translateY(-3px);
                    }
                }
            }

            .borrar {
                width: 40px;

                button {
                    background-color: rgb(241, 110, 110);
                    border-radius: 20px;
                    border: none;
                    width: 60px;
                    height: 35px;

                    transition: ease-out 0.3s;
                    
                    &:hover {
                        background-color: rgb(211, 64, 64);
                        box-shadow: 3px 3px 0;
                        transform: translateX(-3px) translateY(-3px);
                    }
                }
            }
        }
    }

    .container-products {
        width: 1000px;
        height: 700px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
        }

        .product {

            cursor: pointer;
            width: 300px;
            height: 200px;
            margin: 10px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border: 3px solid rgb(241, 110, 110);
            border-radius: 20px;

            transition: ease-out 0.3s;

            &:hover {
                box-shadow: 6px 6px 0;
                transform: translateX(-6px) translateY(-6px);
            }

            .image-product {
                width: 150px;
                height: 150px;
            }

            h2 {
                background-color: rgb(72, 183, 211);
                text-align: center;
                border-radius: 50px;
                margin-top: -50px;
                margin-left: 30px;
                width: 60px;
            }

            p {
                font-size: 20px;
            }
        }
    }

    .container-unique-product {
        width: 1000px;
        height: 700px;
        border: 3px solid rgb(241, 110, 110);
        border-radius: 20px;

        display: flex;
        flex-direction: row;

        .product-info{
            width: 50%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            p {
                width: 90%;
                font-size: 18px;
                margin-bottom: 55px;
                text-align: justify;

            }

            .formulario-compra {
                
                p {
                    text-align: center;
                    font-size: 25px;
                    margin: 10px;
                }

                .cantidad-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                form {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }

                input[type="number"] {
                    width: 65px;
                    height: 40px;
                    padding: 5px;
                    font-size: 25px;
                }

                input:first-child {
                    margin-top: 10px;
                }

                input[type="submit"] {
                    width: 140px;
                    height: 40px;
                    margin-left: 10px;
                    font-size: 15px;
                    border: none;
                    border-radius: 25px;
                    background-color: rgb(241, 110, 110);
                    transition: ease-out 0.3s;

                    &:hover {
                        color: white;
                        background-color: rgb(194, 65, 65);
                        box-shadow: 3px 3px 0 black;
                        transform: translateX(-3px) translateY(-3px);
                    }

                }
            }
        }

        .image-container {
            width: 50%;
            height: 100%;;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 500px;
                height: 500px;
                padding-right: 2px;
            }
        }
    }

    .form-container {
        width: 1000px;
        height: 700px;
        border: 3px solid rgb(241, 110, 110);
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        form {
            width: 60%;

            label {
                margin-bottom: 10px;
                font-size: 20px;
            }
            
            input {
                margin-bottom: 10px;
            }

            .log-button {
                background-color: rgb(241, 110, 110);
                width: 100px;
                height: 40px;
                font-size: 15px;
                color: white;
                border: none;
                border-radius: 20px;
                transition: ease-out 0.3s;

                &:hover {
                    background-color: rgb(194, 65, 65);
                    box-shadow: 3px 3px 0 black;
                    transform: translateX(-3px) translateY(-3px);
                }
            }
        }

        .error-mensaje {
            height: 1px;
            color: red;
            padding: 10px;
            font-size: 20px;
        }
    }

    .form-edit-user {
        width: 1000px;
        height: 700px;
        border: 3px solid rgb(241, 110, 110);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;


        form {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;

            label {
                font-size: 18px;
                margin-bottom: 5px;
            }

            select, input {
                font-size: 15px;
                margin-bottom: 7px;
                height: 30px;
            }

            .button {
                background-color: rgb(186, 238, 109);
                width: 150px;
                height: 40px;
                margin-top: 20px;
                border-radius: 20px;
                border: none;
                transition: ease-out 0.3s;
                
                &:hover {
                    color: white;
                    background-color: rgb(72, 112, 13);
                    box-shadow: 3px 3px 0 black;
                    transform: translateX(-3px) translateY(-3px);
                }
            }

            .align-button-box {
                border: none;
                width: 100%;
                display: flex;
                justify-content: center;
            }

        }
    }

    .prod-carrito {
        width: 1000px;
        height: 200px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;

        border: 3px solid rgb(241, 110, 110);
        border-radius: 20px;

        img {
            margin-left: 20px;
            width: 180px;
            height: 180px;
        }

        .texto-produc {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 60%;
            height: 100%;

            p {
                margin-bottom: 0px;
                width: 80%;
            }

            .descrip-prod {
                text-align: justify;
            }

            .precio-total {
                font-size: 15px;
                text-align: right;
            }
        }

        .edit-delete {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 20%;
            height: 100%;

            .controlador-prod {
                width: 80%;
                .cant-mod{
                    flex-direction: row;
                    width: 100%;
                    height: 30px;
                    font-size: 20px;
                    margin-bottom: 10px;
                    input {
                        width: 50px;
                        height: 100%;
                    }
                }
                .act-prod {
                    width: 89%;
                    height: 30px;
                    background-color: rgb(119, 209, 231);
                    margin-bottom: 8px;
                    border: none;
                    border-radius: 20px;
                    transition: ease-out 0.3s;
                    
                    &:hover {
                        background-color: rgb(184, 223, 233);
                        box-shadow: 3px 3px 0;
                        transform: translateX(-3px) translateY(-3px);
                    }
                }

                .del-prod {
                    width: 89%;
                    height: 30px;
                    background-color: rgb(241, 110, 110);
                    border: none;
                    border-radius: 20px;
                    transition: ease-out 0.3s;
                    
                    &:hover {
                        background-color: rgb(240, 150, 150);
                        box-shadow: 3px 3px 0;
                        transform: translateX(-3px) translateY(-3px);
                    }
                }
            }
        }
    }

    .finalizar-compra {
        width: 1000px;
        height: 40px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 35px;
            margin: 0;
            padding: 0;
        }

        form {
            height: 100%;
        }

        .button {
            height: 100%;
            width: 200px;
            background-color: rgb(241, 110, 110);
            border: none;
            border-radius: 20px;
            transition: ease-out 0.3s;
            
            &:hover {
                background-color: rgb(240, 150, 150);
                box-shadow: 3px 3px 0;
                transform: translateX(-3px) translateY(-3px);
            }
        }
    }
}

footer {
    background-color: rgb(119, 209, 231);
    width: 100%;
    height: 55px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
        padding: 0;
    }
}